<div class="container-fluid container-lg p-3 mb-4 mt-5">
  <div
    class="row p-0 justify-content-center align-content-center align-items-center flex-column"
  >
    <div class="round-2 p-0">
      <img
        class="w-100 h-100 rounded-2"
        src="../../../assets/Ecommerce-Banner-1920.jpg"
      />
    </div>
  </div>
</div>

<div class="container card border border-1 rounded-2 p-3 mb-4 mt-5">
  <div
    class="row justify-content-center align-content-center align-items-center flex-column"
  >
    <h4 class="text-center pb-2">فروشگاه سبد</h4>
    <p style="text-align: justify">
      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
      طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان
      که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با
      هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته
      حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها
      شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ
      پیشرو در زبان فارسی ایجاد کرد
    </p>
  </div>
</div>
